<% unless @chatters.empty? || @message.nil? %>
  <table cellspacing="0">
    <thead>
      <tr>
        <th class="tcl" colspan="2"><%= link_to I18n.t(:current_chat), chat_path %></th>
      </tr>
    </thead>
    <tbody>
      <% for user in @chatters %>
        <tr>
          <td class="tci"><%= icon_for(user) %></td>
          <td class="tcl"><%= link_to h(user), user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
