<%
  score = case target.plus_minus
    when 0 then 'neutral'
    when 1..Float::INFINITY then 'positive'
    else 'negative'
  end
%>
<span class="vote-count vote-<%= score %>">
  <%= target.plus_minus %>
</span>
